<link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet' />



<div class="row row-cols-1 row-cols-md-2">
    <div class="col mb-4">
        <div class="card">
            <img class="card-img-top img-fluid image-style" src="~/Images/digital-art-398342_640.png">
            <div class="card-img-overlay text-center cardTextContext" id="test">
                <h5 class="card-title text-center card-body-custom" style="font-family: Aclonica;">Royal Rewards Members Save</h5>
                <p class="card-text text-center card-body-custom">Enjoy savings on our Best Available Rate at thousands of Royal Rewards Hotels worldwide with The Royall Rewards Rate. Collect some points and use 'em for FREE NIGHT!</p>
                <a class="btn btn-primary text-center" asp-area="Identity" asp-page="/Account/Register">Enroll for Free</a>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="~/Images//woman-591576_640.jpg" class="card-img-top image-style">
            <div class="card-img-overlay text-center cardTextContext">
                <h5 class="card-title text-center card-body-custom">
                    Stay More Nights. Unlock New Member Levels &amp; Perks.
                </h5>
                <p class="card-text text-center card-body-custom">
                    The more qualifying nights you stay, the closer you’ll be to reaching new member levels—and enjoying
                    all of the exciting benefits that come with being <span style="color:#A9A9A9;" class="font-weight-bolder">SILVER</span>, <span style="color:#FFD700;" class="font-weight-bolder">GOLD</span>
                    and <span style="color:#6351ce;" class="font-weight-bolder">PLATINUM</span>.
                </p>
                <a asp-controller="Rewards" asp-action="index" class="btn btn-primary text-center">Royal Rewards Details</a>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img class="card-img-top image-style" src="~/Images/tropical-1651426_640.jpg">
            <div class="card-img-overlay text-center cardTextContext">
                <h5 class="card-title text-center card-body-custom">Discover Royal Travel</h5>
                <p class="card-text text-center card-body-custom">
                    Designed for business and leisure travelers alike, Royal Travel locations offer a comfortable and convenient stay. No matter where your travels take you,
                    our hotels welcome you with thoughtfully appointed guest rooms, versatile meeting spaces, and extras like pools and fitness centers.
                </p>
                <a class="btn btn-primary text-center" asp-controller="Booking" asp-action="Index">Explore & Book</a>
            </div>
        </div>
    </div>

</div>


<script src="~/js/CustomScripts/cardText.js"></script>