@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-secondary text-center" role="alert">
    No data found.
</div>
<a class="text-center btn btn-outline-danger" href="##" onClick="history.go(-1); return false;"> Go Back</a>