

<h1 class="text-center">Welcome, Admin!</h1>

<div class="row text-center">
    <div class="col-md-4">
        <a class="btn btn-outline-danger btn-lg" asp-area="Administration" asp-controller="Administration" asp-action="AllUsers">Get All Users Stats</a>
    </div>
    <div class="col-md-4">
        <a class="btn btn-outline-danger btn-lg" asp-area="Administration" asp-controller="Administration" asp-action="Earnings">View Earnings & Commission Stats</a>
    </div>
    <div class="col-md-4">
        <a class="btn btn-outline-danger btn-lg" asp-area="Administration" asp-controller="Administration" asp-action="AllReservations">All Reservations</a>
    </div>
</div>
