@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<center><h1>@ViewData["Title"]</h1></center>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
            Normally this would be emailed: <a  id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
        </p>
    }
    else
    {
        <p>
            Please check your email to confirm your account.
        </p>
    }
        
}
<div align="center" class="alert alert-success" role="alert" >
    <h4 class="alert-heading">Congrats! You are a member now!</h4>
    <p>
        Thank you for registering in Royal Travel. Your registration has been received.
        If you would like to view your registration details, you can do it at the following link:
        <a href="/Identity/Account/Manage" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Click here</a>

        If you forgot your password, simply hit "Forgot password" and you'll be prompted to reset it.
    </p>
    <hr>
    <p class="mb-0">If you forgot your password, simply hit "Forgot password" and you'll be prompted to reset it.</p>
</div>